.post
  .container.col-md-8.col-md-offset-2
    .col-md-2.col-xs-3
      = link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm", id: "votebtn" do
        .glyphicon.glyphicon-upload

      
    .col-md-10.col-xs-9
      %h2
        = link_to @post.title, url_with_protocol(@post.url), :target => '_blank'
      %small
        added by #{@post.user.username} 
        || 
        = pluralize(@post.cached_votes_total, "upvote") 
        ||
        = pluralize(@comments.count, "comment")
        %br
      %span 
      - if user_signed_in? && current_user == @post.user
        = link_to "Edit",edit_post_path(@post), class: "btn btn-xs btn-info"
        = link_to "Delete",post_path(@post), method: :delete, |
          data: { confirm: "Are you sure you want to delete the post?"},      |
          class: "btn btn-xs btn-danger"            

        %br
        %br
    = render partial: "comments/comment" 
